language: python
git:
  depth: 9999
python:
- '3.6'
sudo: false
cache:
  directories:
  - "$HOME/.cache/pip"
addons:
  apt:
    packages:
    - libhdf5-serial-dev
    - libnetcdf-dev
    - libproj-dev
    - libgdal1-dev
    - libudunits2-dev
    - libblas-dev
    - liblapack-dev
    - gfortran
install:
- export CPLUS_INCLUDE_PATH="/usr/include/gdal"
- export C_INCLUDE_PATH="/usr/include/gdal"
- travis_retry pip install --upgrade pip
- travis_retry pip install --upgrade pytest pytest-cov pytest-flake8 deepdiff flake8 pep8-naming
- travis_retry pip install gdal==1.10.0 rasterio shapely pyyaml click ciso8601 checksumdir
- pip freeze
script:
- pytest
before_deploy:
- python setup.py sdist
deploy:
  provider: releases
  file_glob: true
  file: dist/*
  skip_cleanup: true
  on:
    tags: true
    condition: "$TRAVIS_TAG =~ ^tesp-[0-9]+\\.[0-9]+\\.[0-9]+$"
    repo: OpenDataCubePipelines/tesp
  api-key:
    secure: DmJq8xtY+ANHl9GOmGjt+t7qBhTLIigHjEBUHdy8xXuNvxMRB1gRmPLYIeMkCnTIyY4YB7FMsYNo6G+9Dbn3NElQ4wkCUgjIPipZDPo9JBEUo5V2gqPgOK9Jjivm0keTxtjHMCLF+pLL591ww8vRgfHDCTQ6klJ0FJ41dEZpAMEut+ZS9gLXnKchkUvsVUc7q4uIcQZoZIh9phSPpp7fV+HKIUDUvL0UG9FXeFE/CsbU5qEUfK7VLZMNQyogEKkkDYXe+gNGJb0c3LILVgteNyNknN9GZ0cBaNl7CNYTwL7bWPegfbhZbbv23z5MoN/LXbnj8D7N8ALioODn354fMzw5MrETbL3vGEd64BWXLvhR/jHg+1LJWqV/2+ZSISEnr9Hca/JujyXYO34OyOelr4VvRaURpUL3r3UNwtfwAV9b6RbyuhSw013CZkGWQJxpWDkM5U8GC1rz64RJTRSa/yCn3aH4J6Z8sQtZqsIkONps13L5f7r4WMsRPFtgsJ/evdkgWylYXdvzl7RF/HtOuBlvAZC3/G86c2k6J9MZnCCs+adOo8kJMkEmUwN+EdJEICPeOwF53XJdYeF4jraAOkYwpKL3PGmXz9bFEQtmFIjLQ1avjv4kqMHpw8CRxSx1577BZwMbZ59umI+rDwtzId1F8c+6wLtHl16IWXjInrU=

